---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../config';
import fs from 'fs/promises'

var res = await fs.readdir('./src/pages/novels', { withFileTypes: true, });
res = res.filter(r => r.isDirectory())

console.log({ res })

var novels: any[] = []

for await (const dir of res)
{
console.log({ dir })
	var info = await fs.stat(`./src/pages/novels/${dir.name}`)
	console.table(info)
	var novel = {
		name: dir.name,
		createdAt:new Date(info.birthtime),
		updatedAt: new Date(info.mtimeMs),
		href: `novels/${dir.name}`
	}

	novels.push(novel)
}

console.log({novels})

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE}  />
	</head>
	<body>
		<Header title={SITE_TITLE} />
	
		<main class="container mx-auto">
			<table class="border-collapse w-full">
				<thead >
					<tr>
						<th scope="col" class="sm:w-2/5 lg:w-3/12 pr-8 py-3 font-normal border">
							Updated at
						</th>
						<th scope="col" class="sm:w-4/5 lg:w-8/12 pr-8 py-3 font-normal border">
							Title
						</th>	
					</tr>
				</thead>

				<tbody>
					{novels.sort((a, b) => new Date(b.updatedAt).valueOf() - new Date(a.updatedAt).valueOf()).map((novel) => (
						<tr>
							<td class="py-3 px-5 pr-8  sm:w-2/5 lg:w-3/12 font-normal border">
								<time datetime={novel.updatedAt} class="text-gray-500">
									{new Date(novel.updatedAt).toLocaleDateString("en-US", { year: 'numeric', month: 'short', day: 'numeric', hour12: false, hour: 'numeric', minute: 'numeric' })}	
								</time>
							</td>
							<td class="py-3 px-5 pr-8  sm:w-2/5 lg:w-8/12 font-normal border">
								<a href={novel.href} class="text-blue-500 hover:text-blue-600">{novel.name}</a>
							</td>
						</tr>
					))}
				</tbody>
			</table>
		
		</main>

		<Footer />
	</body>
</html>
