---
import ListLayout from "../layouts/ListLayout.astro";
import fs from "fs/promises";

enum NovelStatus {
	NEW,
	IN_PROGRESS,
	COMPLETED,
	DROP,
}

type Novel = {
	name: string;
	updatedAt: Date;
	createdAt: Date;
	slug: string;
	href: string;
	author: string;
	originalUrl: string;
	status: NovelStatus;
};

var res = await fs.readdir("./src/pages/novels", { withFileTypes: true });
res = res.filter((r) => r.isDirectory());

var meta = (await import("./novels/novel-info.json")).default;

console.log({ res });

var novels: Novel[] = [];

for await (const dir of res) {
	var info = await fs.stat(`./src/pages/novels/${dir.name}`);
	var dirMeta = meta.find((m) => m.slug == dir.name) || ({} as Novel);

	var novel = {
		// name: dir.name,
		createdAt: new Date(info.birthtime),
		updatedAt: new Date(info.mtimeMs),
		href: `novels/${dir.name}`,
		...dirMeta,
	};

	novels.push(novel);
}
---

<ListLayout>
	<table class="border-collapse w-full">
		<thead>
			<tr>
				<th scope="col" class="sm:w-2/5 lg:w-2/12 pr-8 py-3 font-normal border">
					Updated at
				</th>
				<th scope="col" class="sm:w-4/5 lg:w-4/12 pr-8 py-3 font-normal border">
					Title
				</th>
				<th scope="col" class="sm:w-4/5 lg:w-2/12 pr-8 py-3 font-normal border">
					Author
				</th>
				<!-- <th scope="col" class="sm:w-4/5 lg:w-8/12 pr-8 py-3 font-normal border">
					Title
				</th> -->
			</tr>
		</thead>

		<tbody>
			{
				novels
					.sort(
						(a, b) =>
							new Date(b.updatedAt).valueOf() - new Date(a.updatedAt).valueOf()
					)
					.map((novel) => (
						<tr>
							<td class="py-3 px-5 pr-8 lg:w-2/12 font-normal border">
								<time class="text-gray-500">
									{new Date(novel.updatedAt).toLocaleDateString("en-US", {
										year: "numeric",
										month: "short",
										day: "numeric",
										hour12: false,
										hour: "numeric",
										minute: "numeric",
									})}
								</time>
							</td>
							<td class="py-3 px-5 pr-8  sm:w-2/5 lg:w-4/12 font-normal border">
								<a href={novel.href} class="text-blue-500 hover:text-blue-600">
									{novel.name}
								</a>
							</td>
							<td class="py-3 px-5 pr-8  sm:w-2/5 lg:w-2/12 font-normal border">
								{novel.author}
							</td>
						</tr>
					))
			}
		</tbody>
	</table>
</ListLayout>
